.courses {
    margin-top: 2rem;
}

.course-page {
    margin-top: 2rem;
}
.course-details {
    background-color: #bddacc;
    color: black;
    padding: 2rem;
    margin: 1rem 0;
}
.course-title {
    font-size: 2rem;
    display: block;
}

.course-description {
    display: block;
}

.course-overview {
    background-color: #00a652;
    padding: 1rem;
    box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
    color: white;
}
.course-overview img {
    width: 100%;
}

.course-content {
    border-radius: 20px;
    box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
    padding: 2rem;
    margin: 0.2rem;
}

.course-btn {
    margin: 0.4rem;
    width: 100%;
    background-color: #0b2474;
    color: white;
}

.course-btn:hover {
    color: white;
}
